@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/CSS/main.css" rel="stylesheet" type="text/css" />
</head>
<body>

    <div id="nav-bar">

        <a href="~/Home/Index">
            <div><b>Home</b></div>
        </a>

        <a href="~/Home/About">
            <div><b>About</b></div>
        </a>

        <h4 id="extra-header">powered by <b>Mountain Dev.</b></h4>
    </div>

    <div id="content">
        <div class="info-box" id="info-container">

            <div class="specific-info" id="text">
                <h2>Personal Letter:</h2>
                <p>
                    Stuff and things, lots of them too!
                    Stuff and things, lots of them too!
                    Stuff and things, lots of them too!
                    Stuff and things, lots of them too!
                    Stuff and things, lots of them too!
                    Stuff and things, lots of them too!
                    Stuff and things, lots of them too!
                    Stuff and things, lots of them too!
                    Stuff and things, lots of them too!
                </p>
            </div>

            <div class="specific-info" id="list">

            </div>

            <div class="specific-info" id="pictures">

            </div>

            <div class="specific-info" id="github">

            </div>
        </div>
    </div>

    <div id="footer">

    <p id="cp-year"></p>

    <script>
        var d = new Date();
        var element = document.getElementById("cp-year");
        element.innerHTML = "Copyright (C) " + d.getFullYear();
    </script>

    </div>
</body>
</html>