@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @RenderPage("../Shared/links.cshtml")
    <link href="~/CSS/about.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body id="about">

    @RenderPage("../Shared/nav.cshtml")

    <div class="content">
        <div class="content-text">
            <h1>About Me</h1>
            <div class="underline"></div>
            <p>
                I´m juuuuuust a regular boooooooy.
            </p>
        </div>
        <div class="content-text">
            <h1>Skills</h1>
            <div class="underline"></div>
            <p>
                None.
            </p>
        </div>
    </div>

    <script src="~/js/nav.js"></script>
</body>
</html>