@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/CSS/main.css" rel="stylesheet" type="text/css" />
</head>
<body>

    <div id="nav-bar">

        <a href="~/Home/Index">
            <div><b>Home</b></div>
        </a>

        <a href="~/Home/About">
            <div><b>About</b></div>
        </a>

        <h4 id="extra-header">powered by <b>Mountain Dev.</b></h4>
    </div>

    <div id="content">
        <div class="info-box" id="specific">

        </div>
    </div>

</body>
</html>