
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/CSS/main.css" rel="stylesheet" type="text/css" />
</head>
<body>

    <div id="nav-bar">
        <span><a href="~/Home/Index"><b>Home</b></a></span>
        <span><a href="~/Home/About"><b>About</b></a></span>
    </div>

    <div id="content">

        
    </div>
</body>
</html>
