@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/CSS/main.css" rel="stylesheet" type="text/css" />
</head>
<body>

    <div id="nav-bar">

    </div>

</body>
</html>