@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/CSS/main.css" rel="stylesheet" type="text/css" />
</head>
<body>

    <div id="nav-bar">
        <a href="~/Home/Index"><div><b>Home</b></div></a>
        <a href="~/Home/About"><div><b>About</b></div></a>
        <h4 id="extra-header">powered by <b>Mountain Dev.</b></h4>
    </div>

    <div id="content">

        <div id="name-center">
            <h1>Felix</h1>
            <h1 id="lastname"><b>Wetell</b></h1>
        </div>

        <div id="info-box">
            <p>Hej hej</p>
        </div>

    </div>

</body>
</html>