
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @RenderPage("../Shared/links.cshtml")
    <link href="~/CSS/contact.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body id="contact">
    @RenderPage("../Shared/nav.cshtml")

    <div class="content"> 
        <h1>
            <span>Contact</span>
        </h1>
    </div>

    <script src="~/js/nav.js"></script>
</body>
</html>
