<!DOCTYPE html>

<html>

<head>
    @RenderPage("../Shared/links.cshtml")
    <link href="~/CSS/index.css" rel="stylesheet" />
    <title>Index</title>
</head>

<body id="home">
    @RenderPage("../Shared/nav.cshtml")


    <div class="content">
        <h1>
            <span>FELIX</span>
            <br />
            <span>WETELL</span>
        </h1>

        <h2>
            <span style="color: #27ae60;">SOFTWARE DEVELOPER</span>
        </h2>
        <div class="hover-bar"></div>
    </div>

    <script src="~/js/nav.js"></script>
</body>

</html>