<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/CSS/main.css" rel="stylesheet" type="text/css" />

</head>

<body>
    @RenderPage("../Shared/nav.cshtml")
    
    <div id="content">
        <h1><span>FELIX</span></h1>
        
    </div>

</body>

</html>