<div id="nav-bar">
    <div class="nav-bar-item" id="logo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/NYCS-bull-trans-F.svg/2000px-NYCS-bull-trans-F.svg.png" />
    </div>
    <div class="nav-bar-item" id="home">
        <div class="item-text">home</div>
    </div>
    <div class="nav-bar-item" id="about">
        <div class="item-text">about</div>
    </div>
    <div class="nav-bar-item" id="contact">
        <div class="item-text">contact</div>
    </div>
</div>
